* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url("sonnenaufgang-sonnenuntergang.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    height: 520px;
    width: 350px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 185%;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.294);
    border-left: 1px solid rgba(255, 255, 255, 0.294);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.09);
}

h1 {
    margin: 30px;
}